{% extends "base.html" %}

    
    {% block content %}
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-content pt-10">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-6" data-aos="fade-up">
                                        <h1 class="page-header-title">Each company has it own story. And all stories were built by amazing people!</h1>
                                        <p class="page-header-text mb-5">Create your own Linkedin company portfolio in 5 minutes</p>
                                        <a class="btn btn-teal btn-marketing rounded-pill lift lift-sm" href="{% url 'linkedin_auth_url' %}"><i class="fab fa-linkedin"></i> Start your story now!<i class="fas fa-arrow-right ml-1"></i></a>
                                    </div>
                                    <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50"><img class="img-fluid" src="static/assets/img/report_example.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    
                    
                    <section class="bg-light py-10">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center mb-10">
                                        <h2>Storytellers breakthroughs</h2>
                                        <p class="lead">Because a lot of you guys already wrote their stories!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 text-center mb-5">
                                    <div class="display-1 font-weight-bold text-gray-400">{{ projects_nb }}+</div>
                                    <div class="h5">Stories</div>
                                    <p>Created by our community for their teammates</p>
                                </div>
                                <div class="col-lg-4 text-center mb-5">
                                    <div class="display-1 font-weight-bold text-gray-400">{{ profils_linkedin_nb }}+</div>
                                    <div class="h5">Teammates aboard</div>
                                    <p>And more of them are joining everyday the adventure</p>
                                </div>
                                <div class="col-lg-4 text-center mb-5">
                                    <div class="display-1 font-weight-bold text-gray-400">10+</div>
                                    <div class="h5">Story books downloaded</div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                </main>
            </div>

            {% endblock %}
            
